body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FCF7E3;
}

.landing-container, .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header {
    margin-bottom: 2em;
}

.header img {
    max-width: 50%;
    height: auto;
}

/* Filter Form Styling */
#filter-form {
    margin-bottom: 1em;
}

#filter-form select {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1em;
}

.action-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #5cb85c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.add-food-item-btn {
    position: fixed;
    bottom: 20px;
    right: 200px; /* Adjust the right position to accommodate the "Modify Open Hours" button */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #77c38e;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.modify-open-hours-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #77c38e;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
}

.remove-food-item-btn {
    position: fixed;
    bottom: 20px;
    right: 360px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #77c38e;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    outline: none;
}



.action-btn:hover {
    background-color: #4cae4c;
}
.food-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.food-item {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: #f0f0f0;
    margin: 1em;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    align-items: center;
}

.food-image {
    max-width: 400px;
    max-height: 350px;
    border-radius: 4px;
}

.food-info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.food-name {
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: underline;
}

.food-chef {
    font-size: 14px;
}

.food-price, .food-category {
    font-size: 14px;
}

/* Add styles for the popup window */
.popup-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
/* Responsive Design for smaller screens */
@media (max-width: 600px) {
    .header img {
        max-width: 75%;
    }

    .food-item {
        flex-direction: column;
        align-items: center;
    }

    .food-image {
        width: 80%; /* Adjust image width for smaller screens */
        height: auto; /* Adjust image height to maintain aspect ratio */
    }

    .food-info {
        align-items: center;
    }
}
